<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OdontoSystem</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#1976d2">
<link rel="stylesheet" href="styles.372e56d1207920b32ca7.css"></head>
<body>
  <app-root></app-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
<script type="text/javascript" src="runtime.6fdda0e4addc4f80c573.js"></script><script type="text/javascript" src="polyfills.2f7a1910022b456e4bfd.js"></script><script type="text/javascript" src="main.6c7bc2016c2cd5106423.js"></script></body>
</html>
